* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
}

.container {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

.challenge {
    padding: 5px;
    width: 162px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background: rgba(255, 255, 255, 0.6);
  }
  
  .challenge:hover {
      opacity: 0.7;
  }

          /* Responsive layout - makes a two column-layout instead of four columns */
          @media screen and (max-width: 900px) {
            .container {
                width: 100%;
            }
        }
         

  